*
{
    margin           : 0;
    padding          : 0;
    box-sizing       : border-box;
    scroll-behavior  :smooth;
}


/* ::selection
{
    background-color:white;
    color           : var(--color1);
} */

html {height : 100%}


body 
{
    background-color        :  #111;
    color                   : #fff;
    height                  : 100%;
    line-height             : 1.4; 
    width                   : 100%;
    /* overflow                : hidden; */
}

        /* mejora del scrollbar */

body::-webkit-scrollbar
{
    width   : .3rem;
    /* background-color    : #fff; */
}

body::-webkit-scrollbar-track
{
    background: #333;
}

body::-webkit-scrollbar-thumb
{
    background: #427f92;
    border-radius   : 1rem;    
}

body::-webkit-scrollbar-corner
{
    background-color: #333;
}
body::-webkit-scrollbar-button
{
    height: 0rem;
    background: #333;
}





.page
{
    max-width   : 80%;
    margin  : .3rem auto;
    /* border  : 2px solid white; */
   height   : 100%;
}

.header     
{
    /* border      : 2px solid red; */
    width               : 100%;
    display             : flex;
    justify-content     :  space-between; 
    border-bottom       : 2px solid var(--color1);
    /* padding-bottom      : 120px; */
    height              : 15%;
}

.header__logo
{
   /*  border     : 2px solid white; */
     width      : max-content;
     height     : 100%;
}

.header__img
{
    height      : 100%;
    display     : block;
}

.header__nav
{
    /* border            : 2px solid white; */
    width         : 50%;
}

.nav__list
{
    display       : flex;
    align-items   : center;
    justify-content : space-between;
    height        : 100%;
}

.nav__list__item
{
    list-style      : none;
}

.nav__list__link
{
    text-decoration : none;
    color           : #fff;

    /* border          : 2px solid red; */
    padding         : .5rem;
    transition      : box-shadow .5s linear;
    text-align      : center;    
    /* font-weight     : 700; */
    outline         : none;
    font-size       : 1.5rem;
}

.nav__list__link:hover 
{

    box-shadow:  inset 0 50px var(--color1);
}


/* ******************************main************************* */


.section
{
    height      : 85%;
     /*border      : 2px solid red;*/
}
.section__figure
{
    /* border : 2px solid white; */
    display     : flex;
    width       : 100%;
    height      : 100%;
    overflow    : hidden;    
    position    : relative;
}

.section__figure__img
{
    display     : block;
    width       : 100%;
    height      : 100%;
    filter      : brightness(75%);
    position    : absolute;
}

.imgtwo
{
    left    : 100%;
    animation   : slide 10s linear infinite;
}

@keyframes slide
{

    0%
    {
        opacity: 0;
    }

    40%
    {
        left    : 0;
        opacity : 0;
    }

    45%
    {
        opacity: .5;
    }

    46%
    {
        opacity: .6;
    }
 
    47%
    {
        opacity: .7;
    }

    48%
    {
        opacity: .8;
    }

    49%
    {
        opacity: .9;
    } 
 

    50%
    {
        left    : 0;
        opacity: 1;
    }

    80%
    {
        opacity: 1;
    }


    90%
    {
        left    : 0;
        opacity     : .5;
    }

    91%
    {
        left    : 0;
        opacity     : .4;
    }

    92%
    {
        left    : 0;
        opacity     : .3;
    }

    93%
    {
        left    : 0;
        opacity     : 0;
    }

    94%
    {
        left    : 0;
        opacity     : 0;
    }

    95%
    {
        opacity: 0;
    }



    100%
    {
        opacity: 0;
        left    :100%;
    }

    /* 100%
    {
        left : 100%;
        opacity: 0;
    } */
  




    
}







/* ******************************main************************* */
.main
{
    /* border  : 2px solid white; */
    margin  : 2rem 0;
}

.main__section__info
{
    /* border  : 2px solid red; */
    margin  : 1rem 0;
}

.main__txt
{
    text-align      : center;   
    margin          :  2rem 0 ;   
}

.txt1,
.main__txt
{
    font-family     : 'Mansalva', cursive;
}

.txt 
{
    font-family: 'Roboto', sans-serif;
}

.main__article
{
    /* border  : 2px solid white; */
    width   : 90%;
    margin  : auto;
}

details,summary
{
    /* border : 2px solid white; */   
}




.main__details p
{
    padding     : .5rem;
    color       : #fff;

}




summary::-webkit-details-marker 
{
    display : none;
}

.summary__historia::before 
{
    content: url("https://img.icons8.com/ios-filled/24/2fad5d/activity-history.png");
    /* border      : 1px solid #fc0; */
    display     : inline-block;
    width       : max-content;
    height      : 24px;
    /* height: max-content; */
    margin-right: .3rem;
    padding     : .1rem;
    vertical-align: middle;
}

.summary__ejemplo::before 
{
    content: url("https://img.icons8.com/material-outlined/24/2fad5d/example.png");
    /* border      : 1px solid #fc0; */
    display     : inline-block;
    width       : max-content;
    height      : 24px;
    /* height: max-content; */
    margin-right: .3rem;
    padding     : .1rem;
    vertical-align: middle;    
}

.summary__definicion::before 
{
    content: url("https://img.icons8.com/ios-glyphs/24/2fad5d/term.png");
    /* border      : 1px solid #fc0; */
    display     : inline-block;
    width       : max-content;
    height      : 24px;
    /* height: max-content; */
    margin-right: .3rem;
    padding     : .1rem;
    vertical-align: middle;    
}

summary
{
    cursor: pointer;
    color   : var(--color1);
    outline     : none;
}



.main__details
{
    margin-bottom   : 1rem ;
}

.main__details__img
{
    width       : 90%;
    border-radius : 1rem;
    display     : block;
    margin      : .5rem auto;
}

.main__details_list 
{
    /* border : 2px solid white; */
    /* list-style: none; */
    width       : max-content;
    margin-left : 5%;
    margin-bottom :1rem;
    position    : relative;

}

.main__details__link
{
    /* position : relative; */
    /* border  : 2px solid white; */
    width   : max-content;
    color   : #fff;
    border-bottom   : 1px solid transparent;
    cursor: pointer;

}

.main__details__link:hover
{
    border-bottom   : 1px solid var(--color1);
}


.main__details__link:hover .box__model 
{
   
    display: block;
    z-index     : 10;    
}



        /* estilos de box model */

.box__model
{
    border           : 1px solid white;
    width            : 300px;
    height           : 100%;
    border-radius    : .5rem;
    overflow         : hidden;
    position         : absolute;
    left             : 0;
    top              : 0;
    display          : none;
    transform        : translateX(200%); 
    background-color : #111;    
}

.box__model__figure
{
    max-width       : 100%;
    height          : 100%;
    display         : block;
    /* border          : 2px solid red; */
    
}

.box__model__figure__img
{
    display     : block;
    width       : 100%;
    height      : 100%;
}


.main__section__videos
{
    /* border  : 2px solid white; */
    margin       : 5rem 0;
  
}

.figure__video
{
    /* border  : 2px solid white; */
    height  : 350px;
    width   : 30%;
    display : inline-block; 
    border-radius   : 1rem;
    overflow        : hidden;
    margin-right: 3%;  
}

.video 
{
    width   : 100%;
    height  : 100%;
    outline : none;
}

.figcaption 
{
    text-align   : center;
    font-weight  : 700; 
}





                    /* gif en la seccion de definicion */

.figure__img                    
{
    border  : 2px solid white;
    height  : 300px;
    width   : 22%;
    display : inline-block;
    margin-right    : 1%;
    margin-top      : 2rem;
    border-radius   : 1rem;
    overflow        : hidden;
}

.img
{
    display     : block;
    width       : 100%;
    height      : 100%;
}












/* ******************************footer************************* */

.footer
{
    display         : flex;
    justify-content : center;
    /* align-items     : center; */
    flex-wrap       : wrap;
    border-top      : 2px solid var(--color1);
    /* color       : var(--color1); */

}

.footer__rights
{
    /* border      : 2px solid white; */
    padding     : .5rem;
    margin-top  : 2rem;
    
}

.footer__about
{
   /* border           : 2px solid red; */
   height           : 150px;
   flex-basis       :  30%;
   display          : flex;
   justify-content  : center;
}

.footer__form 
{
     /* border : 2px solid white; */
     flex-basis         :40%;
     order              : -1;
     position           : relative;
}



.address
{
    /* border             : 2px solid white; */
    display            : flex;
    flex-direction     : column;
    justify-content    : space-evenly;
    height             : 100%;
}

 
.footer__ubication
{
    padding-top      : .3rem;
    display          : flex;
    justify-content  : center;
    /* border           : 2px solid red; */
    flex-basis       : 20%;
}


.form__input 
{
    /* border      : 2px solid white; */
    width       : 80%;
    /* padding     : .5rem; */
    display     : flex;
    justify-content: space-around;
    margin: 2rem 0;
}


.input
{
    width       : 70%;
    outline     : none;
    border      : none;
    background-color    : transparent;
    border-bottom       : 2px solid var(--color1);
    caret-color         : #fff;
    color               : #fff;
    padding             : .3rem;
     
}

.textarea
{
    border          : 1px solid var(--color1);
    border-radius   : .3rem;
    resize          : none;
    padding         : .5rem;
}

.submit  
{
    border      : none;
    outline     : none;
    font-family     : 'Mansalva', cursive;
    background-color    : var(--color1);
    color               : #fff;
    padding             : .5rem;
    border-radius       : .5rem;
    box-shadow          : 1px 2px 0 1px #92dbae;
    transition          : all .1s linear;
    position            : absolute,
}

.submit:active
{
    top : 2px;
    box-shadow: none;
}


